@use 'sass:map';

@mixin margin-bottom($key) {
    margin-bottom: map.get($map, $key);
}

.mb4 {
    @include margin-bottom(4);
}

@media (width <= 480px) {
    .bd-examples {
        margin-right: -0.75rem;
        margin-left: -0.75rem;
        text-align: center;
    }

    .bd-examples > [class^='col-'] {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}

$margin-bottom: (
    4: 4rpx,
    8: 8rpx,
    24: 24rpx,
    32: 32rpx,
    37: 37rpx,
    40: 40rpx,
    60: 60rpx
);
